@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;
}

.logo a {
	color: #333;
}

p.emoji {
	font-size: 300%;
}

#sidebar-wrapper.my-sidebar {
	background-color: #607D8B;
	color: #FAFAFA;
	padding: 20px;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon {
	font-size: 50px;
	border: 3px solid #FAFAFA;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 0 auto;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

#sidebar-wrapper.my-sidebar a {
	color: #FAFAFA;
}

#sidebar-wrapper.my-sidebar a:hover {
	text-decoration: underline;
}

.notify {
	font-size: 90%;
}

.notify img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.event-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.event-title {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
}

.event-header img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.event-header p {
	padding: 10px 0 0 15px;
}
